<div class="loading-list bookmarks-list reading-list">
    <div data-ng-show="loading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <ul class="collection" data-ng-show="list.length" data-ng-class="{'no-margin-top': loading}">
        <li class="collection-item row bookmark-row"
            data-ng-repeat="bookmark in list | filter:archiveFilter track by bookmark.id"
            data-bookmark-list-item>
        </li>
    </ul>
    <p class="center-align"
       data-ng-show="!loading && list.isEmpty">No bookmarks found.</p>
</div>